<footer class="footer">
  <nav>
    <ul>
      <li><%= link_to "CONTACT", '#' %></li>
      <li><%= link_to "ACCESSIBILITY", '#' %></li>
      <li><%= link_to "PRIVACY POLICY", '#' %></li>
      <li><%= link_to "COOKIES", '#' %></li>
      <li><%= link_to "TERMS & CONDITIONS", '#' %></li>
      <li><%= link_to "SITE MAP", '#' %></li>
    </ul>
  </nav>
</footer>