<div class="pics">
<div class="row">
<div class="col-sm-1">
  </div>
  <div class="col-sm-5" id="logo">
      <%= link_to image_tag("logo-big.png"), "http://www.xchangebucks.org.uk/" %>
  </div>
  <div class="col-sm-5">
  </div>
  <div class="col-sm-1">
  </div>
  </div>
  </div>

<div class="row">
  <div class="col-sm-1">
  </div>
  <div class="col-sm-10">
<header class="header">
      <ul>
        <span><li><%= link_to "HOME", "#", class: 'header' %></li></span>
        <span><li><%= link_to "SUPPORT & ADVICE", "#", class: 'header' %></li></span>
        <span><li><%= link_to "TRAINING & EVENTS", "#", class: 'header' %></li></span>
        <span><li><%= link_to "VOLUNTEERS", "#", class: 'header' %></li></span>
        <span><li><%= link_to "JOBS", "#", class: 'header' %></li></span>
        <span><li><%= link_to "TRADING", "#", class: 'header' %></li></span>
        <span><li><%= link_to "FUNDING", "#", class: 'header' %></li></span>
      </ul>
</header>
</div>
<div class="col-sm-1">
  </div>
</div>


